In [7]:
# Print to the console
print("Hello, world!")

Hello, world!

In [8]:
# Print to the console
print(2024)

2024

In [9]:
(2+2)/1

4.0

In [10]:
# Assign variables
country="Vietnam"
age= 30

print(country)
print(age)

Vietnam
30

In [11]:
# Evaluations
# Double equals signs are used to check equivalency
10**3==1000

True

In [12]:
# Evaluations
# A single equals sign is reserved for assignment statements
10**3 = 1000

SyntaxError: can't assign to operator (<ipython-input-12-0fa721c6aaa0>, line 3)

In [13]:
# Evaluations 
# Double equals signs are used to check equivalency
10*3 == 50

False

In [14]:
10*3 == age

True

In [15]:
# Conditional statements
if age <= 18:
    print('minor')
else:
    print('adult')

adult

In [16]:
# Loops
for number in (1,2,3,3,4,4,5):
    print(number)

1
2
3
3
4
4
5

In [17]:
# Loops
my_list = (1,2,3,10,12)
for x in my_list:
    print(x/2)

0.5
1.0
1.5
5.0
6.0

In [25]:
# Functions
def is_adult(age):
    if age >= 18:
        print('adult')
    else:
        print('minor')

In [26]:
# Use the function that was just created
is_adult(15)

minor

In [27]:
# Use the built-in sorted() function
new_list = (20,25,10,5)

sorted(new_list)

[5, 10, 20, 25]

In [28]:
len(new_list)

4

In [29]:
type(new_list)

tuple

In [30]:
min(new_list)

5

In [31]:
max(new_list)

25

In [43]:
sum(new_list)

60

In [39]:
tuple(new_list)

(20, 25, 10, 5)

In [40]:
slice(new_list)

slice(None, (20, 25, 10, 5), None)

In [42]:
format(new_list)

'(20, 25, 10, 5)'

In [46]:
# Use the swapcase() string method to convert from Capitalize to Lowercase
magic = 'HOCUS POCUS'
magic = magic.swapcase()
magic

'hocus pocus'

In [47]:
# Use the replace() string method to replace some letters with other letters
magic = magic.replace('cus', 'key')
magic

'hokey pokey'

In [48]:
# Use the split() string method to split the string into two strings
magic = magic.split()
magic

['hokey', 'pokey']

In [50]:
# Some built-in fucntions I found using Chatgpt
my_string = "Hello, World!"
print(len(my_string))

13

In [52]:
# Convert from Caps to lowercase using lower() funct
lowercase_string = my_string.lower()
lowercase_string

'hello, world!'

In [54]:
# Or use the swapcase() method
my_string = my_string.swapcase()
my_string

'hELLO, wORLD!'

In [55]:
# Otherwise, convert from lowercase to Caps using upper() funct
my_string = my_string.upper()
my_string

'HELLO, WORLD!'

In [56]:
# Assign variable
age_list = (34, 25, 19, 20)
print(age_list)

(34, 25, 19, 20)

In [60]:
max_age = max(age_list)
max_age

34

In [58]:
# Check a class of max_age
max_age = type(max_age)
max_age

int

In [67]:
# Convert max_age as Int to Str
max_age = str(max_age)
max_age

"<class 'str'>"

In [62]:
# Assign different value for max_age (not 34, but a string ninety-nine)
max_age = 'ninety-nine'
max_age

'ninety-nine'

In [63]:
# Check the "new" max_age type
max_age = type(max_age)
max_age

str

In [65]:
min_age = min(age_list)
min_age

19

In [66]:
max_age - min_age

TypeError: unsupported operand type(s) for -: 'type' and 'int'

In [69]:
# Reassign max_age back to an Int. 
max_age = max(age_list)
max_age

34

In [70]:
# Now, do the maths
max_age - min_age

15

In [71]:
# In calculation, Python follows the order of operations
2 * (3+4)

14

In [72]:
(2 * 3) + 4

10

In [73]:
3 + 4 * 10

43

In [74]:
# Modulo: returns the remainder after a division
10 % 3

1

In [75]:
# Floor division: divides the first operand by the second operand and rounds the result down to the nearest integer
5 // 2

2

In [76]:
# Expressions: a combination of numbers, symbols, and variables to compute and return a result upon evalution
[1, 2, 3] + [2, 4, 6]

[1, 2, 3, 2, 4, 6]

In [77]:
# Functions: a group of related statements to perform a task and return a value
def to_celsius(x):
    '''Convert Fahrenheit to Celsius'''
    return (x-32) * 5/9

to_celsius(80)

26.666666666666668

In [78]:
# Conditional statements: sections of code that direct program execution based on specified conditions
number = -4

if number > 0:
    print('Number is positive.')
elif number == 0:
    print('Number is zero.')
else:
    print('Number is negative.')

Number is negative.

In [1]:
# Incorrect syntax
print(This will throw an error because I did not make it a string.)

SyntaxError: invalid syntax (<ipython-input-1-fdc632b7b196>, line 2)

In [85]:
print (7 + 8)

15

In [87]:
# combine 2 Str
print('hello ' + 'world')

hello world

In [88]:
# can't output because type(s) are different 
print (7 + '8')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [89]:
# fix above error (Solution 1: both are S-T-R --> combination of 2, not computation)
print ('7' + '8')

78

In [90]:
# fix above error (Solution 2: both are Int)
print (7 + 8)

15

In [97]:
# fix above error (Situation 3: convert the data type to both Str )
 
print ('7 + 8 = ' + str(7+8))

7 + 8 = 15

In [91]:
# Data type and class
type("A")

str

In [92]:
type(2)

int

In [93]:
type(2.2)

float

In [94]:
# Implicit conversion (co the chuyen doi): Python automatically converts one data type to another w/o user involvement
# Ex: An arithmetic operations involving both Int and Floats, the interpreter works in the background and converts Int to Floats
# "1" as Int, "2.5" as Float --> result appears as a Float "3.5"

print(1 + 2.5)

3.5

In [95]:
# Explicit conversion (chuyen doi ro rang): users convert the data type of an object to a required data type.
# Ex:convert numerical values to Str
# '2 + 2 =' is the same as str(2 + 2). Both belong to Str class

print('2 + 2 = ' + str(2 + 2))

2 + 2 = 4